{% extends 'partials/base.html' %}
{% block content %}
{% load static %}
<br>
<br>
<div class="container col-md-4 rounded align-items-center" style="background-color: #FFFFFF; font-family: Roobert,serif;">
  <div class="container rounded" style="background-color: #FFCCCC;">
        <div class="col-lg align-items-center">
          <p> Manager Login </p>
        </div>
  </div>
  {% if status == 0 %}
    <div class="alert alert-danger" role="alert">
        <strong>Something</strong> 
        went wrong
    </div>
    {% endif %}
  {% if status == -1 %}
    <div class="alert alert-danger" role="alert">
        <strong>Wrong</strong> 
        Credentials
    </div>
    {% endif %}
<form action='/' method='POST'>
    {% csrf_token %}
    <div class="form-group">
      <label for="formGroupExampleInput2">Email</label>
      <input type="email" name="email" class="form-control" id="formGroupExampleInput2" placeholder="Enter Email" style="background-color: #FFFFFF;" required>
    </div>

    <div class="form-group mt-2">
        <label for="formGroupExampleInput2">Password</label>
        <input type="password" name="password" class="form-control" id="formGroupExampleInput2" placeholder="Enter Password" style="background-color: #FFFFFF;" required>
    </div>
    <button type="submit" class="btn-outline mt-2 text-white" style="background-color: #000000;">Submit</button> &nbsp;
  </form>
  <a type="button" class="btn btn-link mt-2 text-white" style="background-color: #303030;" href="/register">Not Registered</a>
</div>

<footer class="small rounded mt-5" style="background-color: #FFE6EE; font-family: Roobert,serif;">
  <div class="container py-3 py-sm-5">
    <div class="row">
      
      <div class="col-12 col-sm-6 col-md-3">
        <h6>Information</h6>
        <ul class="list-unstyled">
          <li><a href="#">About us</a></li>
          <li><a href="#">Membership</a></li>
          <li><a href="https://www.linkedin.com/in/dhananjay-pai/">Contact</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <address>
          <strong>Mumbai</strong><br />
          Chembur<br />
          Collectors Colony, Maharashtra<br />
          <abbr title="Telephone">Contact :</abbr
          ><a href="tel:+917738959108">+91 7738959108</a><br />
          <abbr title="Mail">Mail :</abbr
          ><a href="mailto:dhananjay2002pai@gmail.com">dhananjay2002pai@gmail.com</a>
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-9">
        <ul class="list-inline">
          <li class="list-inline-item">&copy; 2023 Web Company, Inc.</li>
          <li class="list-inline-item">All rights reserved.</li>
          <li class="list-inline-item">
            <a href="#">Terms of use and privacy policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock %}